<?xml version="1.0"?>
<model>
    <name>scorpio</name>
    <version>1.0</version>
    <sdf>robots/Scorpio_Kin_robotiq.urdf</sdf>
    <author>
        <name>Seung Hyeon Bang</name>
        <email>bangsh0718@gmail.com</email>
    </author>
    <description>
        A description of Scorpio robot model
    </description>
</model>

