<launch>
/*<!-- Robot pose -->*/
/*<!--<arg name="x" default="0"/>-->*/
/*<!--<arg name="y" default="0"/>-->*/
/*<!--<arg name="z" default="0"/>-->*/6
/*<!--<arg name="roll" default="0"/>-->*/
/*<!--<arg name="pitch" default="0"/>-->*/
/*<!--<arg name="yaw" default="0"/>-->*/
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_scorpio_plugin)/worlds/scorpio.world"/>
    <arg name="paused" value="True" />
</include>

<!--
<node pkg="tf" type="static_transform_publisher" name="camera_tf_publisher" 	args="0.0 -0.6 1.4 0.00 0.00 -1.57 /world camera 100"/>
<node pkg="tf" type="static_transform_publisher" name="ade_camera_tf_publisher" args="0.0  0.0 0.0 3.14 0.00  0.00 camera ade_camera 100"/>
-->
<!--1.57, -1.57, 0.00 -->


<!--<node pkg="tf" type="static_transform_publisher" name="camera_tf_publisher" args="0.0 0.6 1.4 3.14, 0.0, 3.14 /world camera 100"/>-->
</launch>
