<launch>
<!-- Robot pose -->
<!--<arg name="x" default="0"/>-->
<!--<arg name="y" default="0"/>-->
<!--<arg name="z" default="0"/>-->
<!--<arg name="roll" default="0"/>-->
<!--<arg name="pitch" default="0"/>-->
<!--<arg name="yaw" default="0"/>-->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_scorpio_plugin)/worlds/scorpio.world"/>
    <arg name="paused" value="True" />
</include>

<node pkg="tf" type="static_transform_publisher" name="camera_tf_publisher" args="0.60 -1.70 1.80 0 1.57 1.57 /world /Camera 100"/>

</launch>
