<launch>

<arg name="world_name" default="scorpio_urdfspawner.world"/>
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_scorpio_plugin)/worlds/$(arg world_name)"/>
    <arg name="paused" value="True" />
</include>

<node pkg="tf" type="static_transform_publisher" name="camera_tf_publisher"     args="1.0 -1.3 1.9 0.9238915 0 0 -0.3826545 /world camera 100"/>

<!-- <node pkg="tf" type="static_transform_publisher" name="ade_camera_tf_publisher" args="0.0  0.0 0.0 0.00 1.57  0.00 camera ade_camera 100"/> -->

<param name="robot_description" command="$(find xacro)/xacro --inorder $(find gazebo_scorpio_plugin)/models/robots/Scorpio_Kin_robotiq_gripper.urdf"/>

<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
args="-urdf -param /robot_description -model scorpio_with_camera -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0
    -robot_namespace /scorpio_with_camera
    -gazebo_namespace /gazebo
    -J joint1 -1.261
        -J joint2 0.35577
        -J joint3 -0.3563
        -J joint4 0.3563
        -J joint5 2.2068
        -J joint6 0.2485
        -J joint7 -0.248
        -J joint8 0.24797
        -J joint9 2.0420
        -J joint10 0.35904
        -J joint11 0.68142" />

<!-- race condition with PnC where PnC crashes if camera spawns in too soon, added delay -->
<node name="urdf_spawner_2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
args="-file $(find gazebo_scorpio_plugin)/models/camera/model.sdf -sdf -model camera -x 0 -y 0 -z 0
    -robot_namespace /scorpio_with_camera
    -gazebo_namespace /gazebo"
launch-prefix="bash -c 'sleep 5.0; $0 $@' " />

<group ns="/scorpio_with_camera">
    <arg name="prefix" default=""/>

    <rosparam file="$(find kortex_control)/grippers/robotiq_2f_85/config/gripper_action_controller_parameters.yaml" command="load" subst_value="true"/>

    <node name="scorpio_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="robotiq_2f_85_gripper_controller">
    </node>
</group>

</launch>
